<div class="wt-options-window">
    <div class="wt-sections">
        <div class="FM1 Fb1 Ft1 Fbg1">
            <h3>{{ text_SciLogger }}</h3>

            <div class="p0020">
                <div class="wt-options-item">
                    <div class="wt-input">
                        <select class="opt_s js-wt-scilogger-list">
                            <option>wofh-tools.ru/sci</option>
                            {% for sl in sciLoggers %}
                                <option>{{ sl }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button1 js-wt-scilogger-remove">{{ text_Remove }}</button>
                </div>
                <div class="wt-options-item">
                    <div class="wt-input">
                        <input class="opt_i js-wt-scilogger-new" type="text" placeholder="{{ text_ADD_SCI_HINT }}">
                    </div>
                    <button class="button1 js-wt-scilogger-add">{{ text_Add }}</button>
                </div>
            </div>
        </div>
        <div class="FM1 Fb1 Ft1 Fbg1">
            <h3>{{ text_WarLogger }}</h3>

            <div class="p0020">
                <div class="wt-options-item">
                    <div class="wt-input">
                        <select class="opt_s" name="" id="">
                            <option>wofh-tools.ru/log</option>
                            {% for wl in warLoggers %}
                                <option>{{ wl }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button1 js-wt-warlogger-list-edit">{{ text_Remove }}</button>
                </div>
                <div class="wt-options-item">
                    <div class="wt-input">
                        <input class="opt_i js-wt-warlogger-new" type="text" placeholder="{{ text_ADD_WAR_HINT }}">
                    </div>
                    <button class="button1 js-wt-warlogger-add">{{ text_Add }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wt-options-item wt-options-item--centered">
        <a href="/newtown" class="button1 -type-green {{ isNewTown }}"><span>{{ text_HybridInterface }}</span></a>
        <a href="/oldtown" class="button1 -type-green {{ isOldTown }}"><span>{{ text_ClassicInterface }}</span></a>
        <a href="/oldmap" class="button1 -type-green {{ isOldMap }}"><span>{{ text_ClassicMap }}</span></a>
    </div>
</div>
