<div class="wt-options-window">
    <div class="wt-sections">
        <div class="FM1 Fb1 Ft1 Fbg1">{{ sciLoggerPanel }}</div>
        <div class="FM1 Fb1 Ft1 Fbg1">{{ warLoggerPanel }}</div>
    </div>

    <div class="wt-options-item wt-options-item--between">
        <a href="http://wofh-tools.ru/stat/{{ worldSign }}/accounts/{{ accountId }}/"
           target="_blank" class="button1"><span>{{ text_Statistic }}</span></a>

        <div>
            <a href="/newtown" class="button1 -type-green {{ isNewTown }}"><span>{{ text_HybridInterface }}</span></a>
            <a href="/oldmap" class="button1 -type-green {{ isOldMap }}"><span>{{ text_ClassicMap }}</span></a>
        </div>
    </div>

    <div class="wt-options-item">
        <input type="checkbox" id="js-wt-lang-switch" value="1" name="s" {{ isRussian ? 'checked' : '' }}>
        <label for="js-wt-lang-switch">Русский интерфейс расширения</label>
    </div>
</div>
